<h5><%= which_listing %>:</h5>
<table class="table table-hover my-4">
  <% videos.each do |v| %>
    <tr onclick="window.location='<%= training_video_path(v) %>'">
      <td><%= link_to v.title, training_video_path(v) %></td>
    </tr>
  <% end %>
</table>
