<h4 class="display-4 text-center my-4"><%= @training_video.title %></h4>
<h5>Complete:</h5>
<ul>
  <% @users_complete.each do |u| %>
    <li><%= link_to  u.first_last, user_path(u) %></li>
  <% end %>
</ul>

<h5>Not complete: </h5>
<ul>
  <% @users_incomplete.each do |u| %>
    <li><%= link_to u.first_last, user_path(u) %></li>
  <% end %>
</ul>