<div class="card col-xl-8 offset-xl-2 p-3">
  <h6 class="card-title text-center">You are not currently logged in.</h6>
  <div class="container">
    <div class="row justify-content-between m-3">
      <div class="col-5">
        <%= button_to "Sign up", new_user_registration_path, class: "btn btn-primary mx-2 btn-block", method: :get %>
      </div>
      <div class="col-5">
        <%= button_to "Log in", new_user_session_path, class: "btn btn-success mx-2 btn-block", method: :get %>
      </div>
    </div>
  </div>
</div>
<h4 class="m-4 mx-auto text-center">If you are looking for the Monroe County Sheriff's public website, it can be found <a href= "http://monroetnsheriff.com/">here.</a></h4>
