<h5><%= which_listing %>:</h5>
<table class="table table-hover my-4">
  <% if training_requirements.any? %>
    <% training_requirements.each do |tr| %>
      <tr onclick="window.location='<%= training_requirement_path(tr) %>'">
        <td><%= link_to tr.title, training_requirement_path(tr) %></td>
      </tr>
    <% end %>
  <% else %>
    <tr><td>None</td><tr>
  <% end %>
</table>
