<div class="row justify-content-center my-4">
	<div class="col-sm-6">
    <h4><%= which_list %>:</h4>
  </div>
</div>

<div class="row justify-content-center mt-4">
	<div class="col-sm-6">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
            <%  if which_list == "Active" %>
              <th scope="col">Role</th>
            <% end %>
        </tr>
      </thead>
      <% users.each do |u| %>
        <tr onclick="window.location='<%= user_path(u) %>'"> 
          <td><%= link_to u.last_first(40), user_path(u) %></td>
          <% if which_list == "Active" %>
            <td><%= u.role.capitalize %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
