<h4 class="display-4 text-center my-4">Everybody</h4>
<%= render partial: 'users_table', locals: {which_list: 'Active', users: @users_active} %>
<%= render partial: 'users_table', locals: {which_list: 'Pending', users: @users_pending} %>
<%= render partial: 'users_table', locals: {which_list: 'Deactivated', users: @users_deactivated} %>
