<h4 class="display-4 text-center my-4">All Users</h4>
<% if @users_active.any? %>
  <%= render partial: 'users_table', locals: {which_list: 'Active', users: @users_active} %>
<% end %>
<% if @users_pending.any? %>
  <%= render partial: 'users_table', locals: {which_list: 'Pending', users: @users_pending} %>
<% end %>
<% if @users_deactivated.any? %>
  <%= render partial: 'users_table', locals: {which_list: 'Deactivated', users: @users_deactivated} %>
<% end %>
