<h4 class="display-4 text-center"><%= @user.first_last %></h4>
<h5>Complete:</h5>
<ul>
  <% @training_videos_complete.each do |v| %>
    <li><%= link_to v.title, training_video_path(v) %></li>
  <% end %>
</ul>

<h5>Not Complete:</h5>
<ul>
  <% @training_videos_incomplete.each do |v| %>
    <li><%= link_to v.title, training_video_path(v) %></li>
  <% end %>
</ul>