<%= button_to "Post new bulletin", new_bulletin_path, method: :get, class: "btn btn-block btn-outline-primary my-2" %>
<p class="text-muted text-center"><small>Bulletins are sorted by date created/modified, newest to oldest.</small></p>
