
<h1 class="display-4 text-center m-5">Monroe County Sheriff's Office</h1>
<h2 class="text-center">Aux officer tools</h2>
<div class="d-flex justify-content-center">
  <p class="col-8">This website is very much a work in progress. Currently, its only functionality is user signup and administration.
  Nothing you see here is set in stone; colors, layout, and behavior can all be changed. Feedback is appreciated!</p>
</div>
