<h4 class="display-4 text-center my-4">Monroe County Sheriff's Office</h4>
<h4 class="text-center my-4">Aux Officer Toolbox</h4>
<div class="row align-items-start">
  <%= dynamic_homepage_content %>
</div>
<%= link_to "About", about_path, class: 'text-muted d-block text-center my-4' %>
