<h4 class="display-4 text-center my-4">Document Library</h4>
<%= button_to "Upload new document", new_document_path, method: :get, class: 'text-center btn-lg btn btn-primary mx-auto my-3' %>
<%= render partial: 'document', collection: @documents %>

