<h4 class="display-4 text-center my-4">Document Library</h4>
<div class="row justify-content-center">
  <%= link_to "Upload new document", new_document_path, class: 'btn-lg btn btn-primary my-3' %>
</div>
<div class="document-list">
  <%= render partial: 'document', collection: @documents %>
</div>

