<div class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Administration
  </a>
  <div class="dropdown-menu active" aria-labelledby="navbarDropdown"}>
    <%= link_to "Users", users_path, class: "dropdown-item" %>
    <%= link_to "Timecards", admin_timecards_path, class: "dropdown-item" %>
    <%= link_to "Training", completions_path, class: "dropdown-item" %>
  </div>
</div>
