/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
  *
  *= require_tree .
  *= require_self
  */
 
@import "bootstrap";

#navbar-userinfo {
  display: flex;
  overflow: hidden;
  .navbar-text{
    order: 1;
    padding: 0;
    color: white;
    strong {
      padding: 0px 15px;
      display: block;
      text-align: center;
      margin: 0;
      line-height: normal;
    }
  }
  .btn {
    order: 2;
  }
}

// Typography Styles
h1, h2, h3 {
  font-family: 'PT Sans', sans-serif;
}
 