// Media query:
@media (max-width: 700px) {
  .mobile-hidden {
    display: none !important;
  }
}

// Typography Styles

h1, h2, h3 {
  font-family: 'PT Sans', sans-serif;
}

// Validation messages:
.validation-errors {
  max-width: 700px;
}
