// Place all the styles related to the Timecards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Dominika didn't like the colors that bootstrap gave us, she made me change
// this one specifically. 
#logtimecardbutton {
  background-color: #208e35;
  &:hover {
    background-color: white;
    color: #208e35;
  }
}