<div class="card border-danger mx-auto my-3 validation-errors">
  <div class="card-header">
    <h5>Problems: </h5>
  </div>
  <ul class="mt-2">
    <% record.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ul>
</div>

